.toolbar{
  width: 100%;
  background: var(--foreground);
  padding: var(--padding-l);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .delete{
    background: var(--foreground);
    border: 1px solid var(--background);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    padding: var(--padding-s);
    svg{
      width: 100%;
      height: 100%;
      fill: var(--background);
    }
    &:hover{
      svg{
        fill: var(--delete);
      }
    }
  }
}